#chromebay-ominx-container{
	text-align:left;
	z-index:999999;
	width:400px;
	background:#F1F1F1;
	border: 1px solid #ddd;
	position:fixed;
	left:0;
	top:-1px;
	font-family: "Microsoft Yahei";
	font-weight: normal;
	color: #666!important;

}


#chromebay-ominx-container .head{
	padding:5px;
	position: relative;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
}
#chromebay-ominx-container .head span{
	font-size:14px;
	padding:6px 10px;
	text-decoration:none;
	color: #666;
	text-shadow:1px 1px 0px #ffffff;
}
#chromebay-ominx-container .head .close{
	position: absolute;
	top:5px;
	right: 10px;
	color: #666;
}

#chromebay-ominx-container .foot{padding:5px 10px;width: 100%;text-align: right;}
#chromebay-ominx-container .content{padding:10px 20px;line-height: 180%;width:360px;font-size: 12px!important;border:none!important;background: transparent;min-height: 100px;}
#chromebay-ominx-container .close, #chromebay-capture-container .close{font-size: 12px!important;text-decoration:none!important;color: #999!important; }
#chromebay-ominx-container .close:hover, #chromebay-capture-container .close:hover{background:none;}
#chromebay-ominx-separator{position:absolute;height:67px;width:33px;top:20px;right:-33px;z-index:99999;cursor: pointer;}
.chromebay div, 
.chromebay table, 
.chromebay td{width:auto;margin: 0;padding: 0;border:none!important;}

.chromebay table,
.chromebay td{height: auto!important;}

.chromebay ul{
	margin: 0!important;
	padding: 0!important;
	list-style-type:square!important;
	list-style-position:inside!important;
	border:none!important;
}
.chromebay li{padding: 5px 0;margin:0;font-size: 12px!important;line-height: 160%!important;}
.chromebay a:link,.chromebay a:visited{color: #0088cc!important;text-decoration: none!important; font-size: 12px!important;font-weight: normal!important;font-family: inherit;}
.chromebay a:hover{color: #666!important;text-decoration: none!important;}
.chromebay .undefined{font-size: 12px!important;}
.chromebay .word{font-size: 32px;font-weight: bold;padding:15px 0!important;font-family: 'Times New Roman','Georgia'!important;text-shadow: 1px 1px 2px #999;}
.chromebay .pron{font-size: 14px;margin-bottom: 6px!important;font-family: arial,sans-serif;position: relative;}
.chromebay .pron .tools{position: absolute;top:-7px;right: 10px;}
.chromebay .pron .tools a{display: inline-block;padding: 2px 6px;background: #efefef;font-size: 12px!important;font-weight: normal!important;font-family: "Microsoft Yahei"!important;}
.chromebay .pron .tools span{display: inline-block;padding: 2px 6px;font-size: 12px!important;font-weight: normal!important;font-family: "Microsoft Yahei"!important;}
.chromebay .pron .tools a:hover{background: #e5e5e5;}
.chromebay .definition{font-size: 14px;font-family: "Microsoft Yahei"!important;line-height: 160%!important;}
.chromebay .en-definitions{font-size: 12px;font-family: arial,sans-serif;}
.chromebay .en-definitions .key{margin-top: 5px;line-height: 160%;}
.chromebay .en-definitions li{line-height: 180%;padding: 2px 0!important;}
.chromebay .examples div{padding:10px!important;background: #fafafa;margin: 10px 0!important;font-size: 12px!important;}
#chromebay-capture-container .examples div{background: #f1f1f1!important;}
.chromebay .examples .entry{color:orange;}
.chromebay .cancel{display: inline-block!important;padding-right: 10px;}


.chromebay [class^="icon-"],.chromebay [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("http://static.shanbay.com/static/img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin-top: 3px;
}
.chromebay .icon-volume-up {
	background-position: -408px -24px;
	cursor: pointer;
}

#chromebay-capture-indicator{position:fixed;right:10px;top:10px;cursor: pointer;z-index: 99999;}